%div.content-inner
  %h2 Inventory
  = lorem_ipsum


  %table.zebra-striped
    %thead
      %tr
        %th Name
        %th Hostname
        %th IP

    %tbody
      - @hosts.each do |host|
        %tr.actionable
          %td.button.dropdown{ "data-dropdown" => "dropdown" }
            = link_to host.ip, inventory_path(host.id)

            %div
              %ul.button
                %li
                  %a.btn.action_btn.dropdown-toggle{ :href => "#", "data-dropdown" => "dropdown" }
                    = image_tag "wrench_orange.png"
                  %ul.dropdown-menu
                    %li
                      = link_to "Monitoring", monitoring_host_path(host.id)
                    %li
                      %a{ :href => "#" } Delete Host





          %td
          %td= host.ip
