!!! 1.1
%html
  %head
    %title devops!
    = stylesheet_link_tag "main"

  %body

    %div.topbar-wrapper
      %div.topbar{ "data-dropdown" => "dropdown" }
        %div.topbar-inner
          %div.container-fluid
            %a.brand{ :href => "/inventory" } Devops!
            %ul.nav
              - navtab "Inventory", inventory_index_path
              - navtab "Monitoring", monitoring_path
              - navtab "About", inventory_index_path
              - navtab "Contact", inventory_index_path

            %form.pull-left
              %input{ :type => "text", "placeholder" => "Search" }

            %ul.nav.secondary-nav
              %li.dropdown

                %a.dropdown-toggle{ :href => "/inventory", "data-dropdown" => "dropdown" } Chetan
                %ul.dropdown-menu
                  %li
                    %a{ :href => "#" } Preferences
                  %li
                    %a{ :href => "#" } Logout


    %div.container-fluid
      %div.sidebar
        %div.well
          %h5 Sidebar
          %ul
            %li Foobar
            %li asdf

      %div.content
        = yield


    %div.scripts
      = javascript_include_tag "jquery"
      = javascript_include_tag "application"
      = javascript_include_tag params[:controller]
      = csrf_meta_tag
