!!! 1.1
%html
  %head
    %title devops!
    = stylesheet_link_tag "main"
    = stylesheet_link_tag params[:controller]

  %body
    %div#body
      -# main content (JS layout) will go here

    %div.scripts
      = csrf_meta_tag
      = javascript_include_tag "application"
      = yield :bootstrap
