!!! 1.1
%html
  %head
    %title devops!
    = stylesheet_link_tag "main"

  %body

    %div.navbar.navbar-fixed-top
      %div.navbar-inner
        %div.container-fluid
          %a.brand{ :href => "/inventory" } Devops!
          %ul.nav
            - navtab "Inventory", inventory_index_path
            - navtab "Monitoring", monitoring_path
            - navtab "About", inventory_index_path
            - navtab "Contact", inventory_index_path


          %ul.nav.secondary-nav.pull-right
            %li.dropdown
              %a.dropdown-toggle{ :href => "#href1", "data-toggle" => "dropdown" } Chetan
              %ul.dropdown-menu
                %li
                  %a{ :href => "#" } Preferences
                %li
                  %a{ :href => "#" } Logout


          %form.navbar-search.pull-right
            %input{ :type => "text", "placeholder" => "Search" }


    %div.container-fluid
      %div.row-fluid
        %div.span2
          %div.well
            %h5 Sidebar
            %ul
              %li Foobar
              %li asdf

        %div.span10
          = yield


    %div.scripts
      = javascript_include_tag "jquery"
      = javascript_include_tag "application"
      = javascript_include_tag params[:controller]
      = csrf_meta_tag
